* {
    font-family: Arial, sans-serif;
    text-align: left;
}
body {
    font-size: 100%;
}
.container {
    padding: 0;
    width: 100%;
}
.left-column {
    width: 50%;
    height: 100vh;
    padding: 3rem;
    overflow: scroll
}
.right-column {
    width: 50%;
}
.name {
    width: 20.1rem;
}
.name h5 {
    margin-bottom: 0px;
    font-size: 14px;
    letter-spacing: 2.25px
}
.name p {
    font-size: 12px;
    letter-spacing: .5px;
    text-align: left;
}
.about {
    width: 100%;
    padding-right: 50px
   
}
.about p{
    padding-top: 30px;
    letter-spacing: 2px;
    font-size: 13px;
}
.events {
    padding-top: 70px;
    margin-bottom: 10px;
    width: 100%;
}
.events h4 {
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 14px;
}
 span:empty::after{
    content: attr(data-empty-message);
  }
  .dates {
      width: 10%;
      float: left;
      font-size: 13px;
      letter-spacing: 2px;
      /* margin-right: 30px */
}
.list {
    list-style-type: circle;   
    width: 90%;
    float: left;
    padding-left: 10px;
    white-space: normal;
    margin-bottom: 0px; 
}
 .list span {
    font-size: 13px;
    letter-spacing: 2px
}
li {
    font-size: 13px;
}

/* img library */
.projects {
    position: relative;
    padding: 1Rem 3rem;
    font-family: helvetica, sans-serif;
    font-size: 1em;
    max-width: 400px;
    max-height: 550px;
    float: right;
    margin-bottom: 50px;
}
  
.imgslide {
    width: 100%;
    height: 100%
}
  .pagination, .img-name {
      margin: 2px 0 0 0;
      font-size: 13px
  }
  .img-name {
      font-size: 13px;
      text-align: right;
      padding-right: 15px
  }
  
  .imgslide img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
  
  .prev {
    cursor: w-resize;
    position: absolute;
    height: 100%;
    width: 50%;
  }
  
  .next {
    cursor: e-resize;
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;
  }

  /* Small devices */
@media only screen and (max-width: 992px) {
    .left-column {
        width: 100%;
        height: 100%;
        padding: 1rem;
        margin-bottom: 50px;
        overflow: scroll
    }
    .about {
        width: 100%;
        padding-right: 0px
    }

    .right-column {
        width: 100%;
        padding: 0
    }
    .projects {
        float: none !important;
        margin: 20px auto 50px auto;
        width: 80%;
        padding: 0
    }
    .events {
        padding-top: 30px;
    }
 
}
/* laptops */
@media only screen and (min-width: 992px) {
    .left-column {
        position: fixed;
    }
    .right-column {
        float: right; 
        margin-top: 15px
    }

    .events {
        padding-top: 40px;
        width: 100%;
    }
}
@media only screen and (min-width: 1095px) {
    .list {
        white-space: nowrap;
    }
}
@media only screen and (max-width: 1095px) {
    .list {
        white-space: normal; 
        padding-left: 28px;
        padding-bottom: 10px;
        width: 90%
    }
    .list span {
        font-size: 13px;
        padding-top: 3px;
        position: relative;
        left: -6px;
    }
    .dates {
        float: left;
        /* margin-left: 5px; */
    }
    .events {
        padding-top: 30px;
    }
    .about {
        width: 100%;
        padding: 20px 0 0 0
       
    }
    .left-column {
        height: auto;
    }
}

/* Large laptops and dekstops */
@media only screen and (min-width: 1400px) {
    .left-column {
        padding-left: 15rem
    }
    .right-column {
        padding-right: 15rem
    }
    .events {
        padding-top: 120px;
    }
}